.header{
    margin-bottom:20px;
}

.backBar{
    margin-top: 70px;
    width:100vw;
    margin-left:calc(-50vw + 50%);
    background:#e6ded2;
    padding:14px 60px;
    border-bottom:1px solid #d3cbc1;
}

.back{
    background:none;
    border:none;
    cursor:pointer;
    font-size:14px;
    color:#4b3a33;
}

.title{
    font-size:35px;
    font-weight:700;
    padding:20px 20px;
}