.backBar{
  background:#E8DDD1;
  padding:14px 80px;
  font-size:20px;
  cursor:pointer;
    font-size:18px;
  width:calc(100% + 160px);
  margin-left:-80px;
}

.arrow{
  font-size:20px;
}

.backBar:hover{
  text-decoration:underline;
}