.container{
  padding:70px 80px;
}

.back{
  color:#555;
  margin-bottom:10px;
  cursor:pointer;
  font-size:14px;
}

.title{
  font-size:22px;
  font-weight:600;
  margin-bottom:20px;
}

.section{
  margin-bottom:30px;
}

.sectionTitle{
  font-weight:600;
  margin-bottom:10px;
  margin-top:20px;
}

.uploadBox{
  border:2px dashed #ddd;
  border-radius:10px;
  padding:20px;
  display:flex;
  align-items:center;
  gap:20px;
  flex-wrap:wrap;
}

.imagePreview{
  width:120px;
  height:160px;
  background:#eee;
  border-radius:8px;
  object-fit:cover;
}

.smallImage{
  width:80px;
  height:100px;
  background:#eee;
  border-radius:8px;
  object-fit:cover;
}

.addImage{
  width:80px;
  height:100px;
  border:2px dashed #ccc;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  cursor:pointer;
}

.form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.row{
  display:flex;
  gap:20px;
}

.field{
  flex:1;
  display:flex;
  flex-direction:column;
}

.field label{
  font-size:14px;
  margin-bottom:6px;
}

.field input,
.field textarea,
.field select{
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:14px;
}

.textarea{
  min-height:120px;
}

.bottomRow{
  display:flex;
  gap:20px;
}

.actions{
  display:flex;
  justify-content:flex-end;
  gap:15px;
  margin-top:20px;
}

.cancelBtn{
  background:#eee;
  border:none;
  padding:10px 30px;
  border-radius:20px;
  cursor:pointer;
}

.saveBtn{
  background:#5b3a2e;
  color:white;
  border:none;
  padding:10px 30px;
  border-radius:20px;
  cursor:pointer;
}

.imageItem{
  position:relative;
  width:120px;
  height:160px;
  flex-shrink:0;
}

.imagePreview{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:8px;
}

.deleteBtn{
  position:absolute;
  top:5px;
  right:5px;
  background:white;
  border:none;
  border-radius:50%;
  width:24px;
  height:24px;
  cursor:pointer;
}

.checkIcon{
  position:absolute;
  bottom:5px;
  right:5px;
  background:#22c55e;
  color:white;
  width:20px;
  height:20px;
  font-size:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.trashBtn{
  position:absolute;
  top:6px;
  right:6px;
  width:26px;
  height:26px;
  background:white;
  border:none;
  border-radius:6px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:0 2px 6px rgba(0,0,0,0.15);
  cursor:pointer;
}

.trashBtn img{
  width:18px;
}

.checkMark{
  position:absolute;
  bottom:6px;
  right:6px;
  width:24px;
  height:24px;
  background:#e5e5e5;
  border-radius:6px;
  display:flex;
  align-items:center;
  justify-content:center;
}