/* ===== Page Wrapper ===== */
.wrapper {
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.noWrap {
  white-space: nowrap;
}

/* ===== Top Bar ===== */
.topBar {
  background-color: #5a4033;
  padding: 18px 40px;
}

.brand {
  color: white;
  font-size: 28px;
  font-family: "Brush Script MT", cursive;
}

/* ===== Center Container ===== */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 1px); /* คุมเฉพาะหน้า login */
}

/* ===== Logo ===== */
.logo {
  color: white;       /* สีขาว */
  font-size: 55px;   /* เพิ่มขนาด */
  font-weight: 700;   /* ใช้น้ำหนักที่ import */
}

.brandBold {
  font-weight: 700;
}

/* ===== Title ===== */
.title {
  font-weight: 500;
  margin-bottom: 25px;
}

/* ===== Input Fields ===== */
.input {
  width: 340px;
  padding: 10px 14px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  background-color: white;
}

.input:focus {
  outline: none;
  border-color: #6b8f78;
}

/* ===== Forgot Password ===== */
.forgotWrapper {
  width: 340px;
  text-align: right;
  margin-bottom: 15px;
}

.forgot {
  font-size: 13px;
  color: black;
  cursor: pointer;
}

/* ===== Login Button ===== */
.button {
  width: 400px;
  padding: 12px;
  background-color: #6b8f78;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.9;
}

/* ===== Sign Up ===== */
.signup {
    margin-top: -1px;
    font-size: 24px;
}

.signup span {
  color: #2F6DB5;
  cursor: pointer;
  font-weight: 500;
}

/* ===== Terms ===== */
.terms {
    margin-top: -10px;
  width: 420px;
  text-align: center;
  font-size: 13px;
  color: black;
  margin-top: 25px;
}
